@media (min-width: 1921px) {}


@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {}



@media (max-width: 1199px) {
    .site-header {
        display: none !important;
    }

    .off_header {
        margin-bottom: -80px;
        margin-top: 20px;
    }

    .off_header {
        display: flex !important;
    }

    .white_left_section img {
        width: 100%;
    }

    .card-item {
        margin-bottom: 24px;
    }

    .right_section {
        margin-left: 0px;
        margin-top: 20px;
    }

    .left_token_section a {
        display: inline-block;

    }

    .white_right_section a {

        display: inline-block;
    }


    .single_timeline_item {
        margin-top: 40px;
    }

    .triangle {
        top: 46%;
    }

    .icon_box_item h4 {
        font-size: 20px;
    }

    .hero_section {

        padding-bottom: 130px;

    }

    .token_section {
        margin-top: 80px;
        padding: 55px;
    }
}

@media screen and (max-width: 991px) {

    /* .timeline_wrapper {
        display: none !important;
    }

    .timelineMobo {
        display: block !important;
    } */


    .timelineMobo {
        display: block;
    }

    .timeline_inner_right {
        margin-left: 100px;
    }

    .timeline_wrapper {
        display: none !important;
    }

    .right_timeline {
        margin-bottom: 55px;
    }

    .left_timeline {
        text-align: right;
        margin-right: 30px;
    }

    .roadmap_section .right-timeline p {
        text-align: left !important;
    }

    .right_timeline p {
        text-align: left !important;
    }

    .timelineMobo {
        margin-top: 45px;
    }

    .right_timeline p {
        margin-bottom: 0;
    }

    .white_paper_section {
        padding-top: 80px;
        margin-bottom: 80px;
    }

    .white_right_section a {

        margin-top: 25px;
        margin-bottom: 25px;
    }

    .token_section {
        margin-top: 80px;
    }

    .token_section {
        margin-top: 140px;
        padding: 55px 55px 55px 55px;
    }

    .left_token_section p {
        margin-bottom: 25px;
    }

    .left_token_section a {
        margin-bottom: 25px;
    }

    .footer {
        padding-top: 0px;
    }

    .below_footer {
        margin-top: 80px;
    }

    .collaborative_section h2 {
        padding-top: 80px;
    }

    .card_section {
        padding-top: 80px;
    }
}


@media screen and (max-width: 767px) {
    .application_focus {
        overflow: hidden;
    }

    .header_elements {
        padding-top: 0px;
    }

    .header-btn {
        display: none;
    }

    .hero_section {
        padding-top: 200px;
        padding-bottom: 128px;
        height: fit-content;
    }


    .bg-img {
        background-image: url(../assets/mobilebg.png);
        background-position: center;
        background-size: cover;
    }

    .banner_btn_power a {
        font-size: 14px;
        line-height: 17px;
    }

    .banner_text h1 br {
        display: none;
    }

    .white_left_section img {
        width: 100%;
    }

    .right_section {
        margin-left: 0px;
    }

    .token_section {
        margin-top: 0px;
        padding: 40px 24px;
    }

    .right_token_section {
        margin-top: 20px;
    }

    .banner_text h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .slider_icons {
        display: none !important;
    }

    .card_section {
        padding-top: 0px;
    }

    .card-item {
        margin-bottom: 24px;
    }

    .counter_element {
        padding: 31px 27px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        display: block;
    }

    .counter_element p {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin-right: 0;
    }

    .counter_element h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .counter_items {
        padding-top: 8px;
    }

    .collaborative_section h2 {
        padding-top: 60px;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 16px;
    }

    .collaborative_section p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    .image_section {
        margin-top: 30px;
    }

    .lower_section,
    .upper_content {
        padding: 30px 22px;

    }

    .lower_section h3,
    .upper_content h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .collaborative_section p {
        font-size: 14px;
        line-height: 24px;
    }

    .upper_content {
        margin-bottom: 16px;
    }

    .right_section img {
        margin-top: 24px;
        margin-bottom: 60px;
    }

    .icons_wrapper {
        padding-top: 0px;
    }

    .icon_img img {
        margin-bottom: 24px;
        display: none;
    }

    .icon_box_item h4 {
        position: relative;
        font-size: 24px;
        line-height: 29px;
        text-align: start;
        margin-bottom: 32px;
        padding-left: 30px
    }

    .icon_box_item h4::before {
        position: absolute;
        content: "";
        left: 0;
        width: 15px;
        height: 15px;
        background-color: #F95B27;
        border-radius: 50px;
        top: 50%;
        transform: translateY(-50%);

    }


    .icon_box_item h4 {
        font-size: 24px;
        line-height: 29px;
        text-align: start;
        margin-bottom: 32px;
    }

    .white_paper_section {
        padding-top: 36px;
        margin-bottom: 60px;
    }

    .white_right_section {
        display: block;
    }

    .white_paper_upper {
        margin-bottom: 80px;
        text-align: center;
    }

    .white_right_section h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 34px;
        text-align: center;
    }

    .white_right_section p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 24px;
    }

    .white_right_section a {

        margin-top: 24px;
        margin-bottom: 50px;
    }

    .left_token_section h3 {

        font-size: 24px;
        line-height: 34px;
        text-transform: capitalize;
    }

    .left_token_section p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .right_token_section li {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
    }

    .section_title {
        display: block !important;
        margin-bottom: 30px;
    }

    .section_title h3 {
        text-align: center;
        font-size: 24px;
        line-height: 34px;
        text-transform: capitalize;
    }

    .application_focus {
        margin-top: 80px;
        margin-bottom: 108px;
    }

    ul.slick-dots {
        display: flex !important;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 0 20px;
        justify-content: center;
    }

    ul.slick-dots li {
        display: flex;
        align-items: center;
    }

    ul.slick-dots button {
        padding: 0;
        height: 20px;
        width: 20px;
        background: #464151;
        text-indent: -9999px;
        border-radius: 50%;
        border: none;
    }

    ul.slick-dots li.slick-active button {
        background: #F95B27;
    }

    .card_elements {

        margin-bottom: 24px;
    }

    .newsletter_section {
        padding: 40px 0px;
    }

    .newsletter_section h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        margin-bottom: 6px;
    }

    .newsletter_section p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        padding: 10px;
    }

    .email_container {
        position: relative;
        width: 100%;
        padding: 0px 16px;
    }

    .newsletter_section {
        margin-bottom: 60px;
    }

    .email_container .letter {
        display: none;
    }

    .email_container .button-icon {
        display: block;
    }


    /**************Timeline*************/
    .timelineMobo {
        display: block;
    }

    .timelineMobo {
        position: relative;
        margin-top: 30px;
    }



    .timelineMobo p {
        text-align: start;
    }

    .right_timeline h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .right_timeline p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
    }

    /*----------------Footer------------------*/
    .footer {
        background-image: url(../assets/footerbgmob.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 62px;
    }

    .footer_menu_links li a {
        font-size: 20px;
        line-height: 40px;
    }

    .email_container button {
        padding: 12px;
    }

    .right_timeline {
        margin-bottom: 90px;
    }

    .roadmap_section h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .roadmap_section .roadmap_desc p {
        font-size: 16px;
        line-height: 26px;
        padding: 0px 80px;
        text-align: center;
    }


    .card-item.first_item {
        padding: 28px 28px 48px 28px;
    }

}

@media (max-width: 485px) {}

@media (max-width: 425px) {}


@media (max-width: 360px) {}
